@import '../../scss/flex-utils.scss';

.container {
  width: 100%;
  padding: 7rem 15px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;

  @media only screen and (min-width: 576px) {
    max-width: 540px;
  }

  @media only screen and (min-width: 768px) {
    max-width: 720px;
  }

  @media only screen and (min-width: 992px) {
    max-width: 960px;
  }

  @media only screen and (min-width: 1200px) {
    max-width: 1140px;
  }
}

.fluid {
  max-width: none !important;
}
