@import './_variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.fill {
  flex: 1;
}

.pb-3rem {
  padding-bottom: 3rem;
}
